.hit {
  background-color: rgba(0, 255, 0, 0.5);
}

.miss {
  background-color: rgba(0, 0, 255, 0.5);
}

.evict {
  background-color: rgba(255, 0, 0, 0.5);
}

.empty {
  background-color: white;
}


#content {
  margin: 5px;
}


.row {
  margin-top: 1px;
  padding-top: 1px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

textarea {
  font-family: monospace;
}

.log {
  overflow: scroll;
  max-height: 80%;
}